$main-blue: #213f7d;
$white: #ffffff;
$green: #39cdcc;
$text-color: #545f7d;
$input-border-color: #545f7d26;
$desktop-width: 1250px;
$tablet: 768px;
$inactive-background: #f5f5f7;
$inactive-text: #545f7d;
$pending-background: #fdf7e5;
$pending-text: #e9b200;
$blacklisted-background: #fce6eb;
$blacklisted-text: #e4033b;
$active-background: #f3fcf6;
$active-text: #39cd62;
