@import "../../../app/styles/variables";
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1em;
  color: $text-color;
  width: 100%; //
  max-width: none;
  height: 160px;
  border: 1px solid #213f7d0f;

  border-style: solid;

  border-color: #213f7d0f;
  .cardText {
    font-size: 14px;
    @media screen and (max-width: 415px) {
      font-size: 12px;
    }
  }
  .cardAmount {
    font-weight: 600;
    color: $main-blue;
    font-size: 24px;
  }
}
