@import "../../app/styles/variables";
.navbar {
  display: flex;
  gap: 1em;
  padding: 1em 1rem;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000; // ensure it stays above other elements
  background-color: #fff; // or match your actual background color
  box-shadow: 3px 0px 20px 0px #0000000a;
  font-family: "Work Sans", sans-serif;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  .searchBarContainer {
    width: 100%;
    display: flex;
    gap: 8.8em;
  }

  .hamburger {
    @media screen and (min-width: 767px) {
      margin-right: 1em;
    }
    @media screen and (min-width: $desktop-width) {
      display: none;
    }
  }
  .navbarRight {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: $main-blue;

    .profileContainer {
      display: flex;
      gap: 0.5em;
      position: relative;
      .dropdown {
        position: absolute;
        top: 120%;
        right: 10px;
        background-color: #fff;
        border-radius: 8px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        box-shadow: 3px 0px 20px 0px #0000000a;
        @media screen and (min-width: 767px) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .docs {
      margin-right: 1em;
      text-decoration: underline;
      font-weight: 400;
    }
    p {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
    .tablet {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  .desktop {
    @media screen and (max-width: calc($desktop-width - 1px)) {
      display: none;
    }
  }

  .profile {
    border-radius: 999px;
  }
}
