@import "../../../app/styles/variables";
.sideBarContainer {
  width: 283px;
  height: 90vh;
  position: sticky;
  top: 78px;
  left: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  font-family: "Work Sans", sans-serif;

  .sidebar {
    // padding: 1rem;\
    // border: 1px solid red;
    overflow-y: auto;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 500px;
    color: $text-color;
    -webkit-scrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .logoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sidebarContent {
      margin-top: 2em;
      // border: 1px solid green;
      width: 100%;

      .active {
        color: $main-blue;
      }
      .inactive {
        color: $text-color;
      }
      .mainNav {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }
      .sidebarClass {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-top: 1.5rem;

        .sidebarClassHeader {
          font-weight: 500;
          padding: 0.5rem 1.8rem;
          font-size: 12px;
        }
      }
      .navItem {
        display: flex;
        align-items: center;
        gap: 1em;
        font-weight: 500;
        font-size: 16px;
        padding: 0.5rem 1.5rem;
        min-width: 150px;
      }
    }

    .activeNav {
      border-left: 3px solid $green;
      background-color: #f3fcfc;
    }
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
