@import "../../../app/styles/variables";

.sideBarContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  left: 0;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Work Sans", sans-serif;

  .sidebar {
    overflow-y: auto;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 283px;
    color: $text-color;
    -webkit-scrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    // border: 1px solid red;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .logoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .sidebarContent {
      margin-top: 2em;
      // border: 1px solid red;

      .active {
        color: $main-blue;
      }
      .inactive {
        color: $text-color;
      }
      .mainNav {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }
      .sidebarClass {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-top: 2em;

        .sidebarClassHeader {
          padding: 0 1rem;
          font-weight: 500;
          font-size: 12px;
        }
      }
      .navItem {
        display: flex;
        align-items: center;
        gap: 1em;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        padding: 0.5rem 1rem;
      }
    }
    .activeNav {
      border-left: 3px solid $green;
      background-color: #f3fcfc;
    }
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}
