@import "../../../app/styles/variables";

.sideBarContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  left: 0;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  .sidebar {
    padding: 1rem;
    overflow-y: auto;
    background-color: white;
    height: 100%;
    width: 80%;
    max-width: 500px;
    color: $text-color;
    -webkit-scrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .logoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sidebarContent {
      margin-top: 2em;

      .active {
        color: $main-blue;
      }
      .inactive {
        color: $text-color;
      }
      .mainNav {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }
      .sidebarClass {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-top: 2em;

        .sidebarClassHeader {
          font-weight: 500;
          font-size: 12px;
        }
      }
      .navItem {
        display: flex;
        align-items: center;
        gap: 1em;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
